@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
* {
    text-align: center;
    font-family: roboto,sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(70deg, rgb(13, 13, 217), rgb(3, 2, 20));
}

.test {
    height: 1000px;
    width: 1000px;
    background: linear-gradient(70deg, rgb(5, 5, 50), rgb(0, 0, 0));
}

.first {
    z-index: -1;
    font-size: 100px;
    font-weight: 800;
    text-decoration: none;
    margin-top: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.copy {
    z-index: -1;
    font-size: 90px;
    font-weight: 800;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.title {
    margin: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
    background-color: rgb(16, 16, 16);
    color: white;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}